################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FieldManagementSystem/obj
/FieldManagementSystem/bin/Debug/net8.0
/FieldManagementSystem/FieldManagementSystem.csproj.user
/FieldManagementSystem/FieldManagementSystemAPI.csproj.user
/improvments.docx
/Homework Task Backend Developer (C#) – Field Management System.docx
