USE [master]
GO
/****** Object:  Database [FieldManagementSystemDB]    Script Date: 07/09/2025 00:31:05 ******/
CREATE DATABASE [FieldManagementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FieldManagementSystemDB', FILENAME = N'C:\Users\moaada\FieldManagementSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FieldManagementSystemDB_log', FILENAME = N'C:\Users\moaada\FieldManagementSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FieldManagementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FieldManagementSystemDB]
GO
/****** Object:  Table [dbo].[Controllers]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controllers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[FieldId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Location] [nvarchar](100) NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Controllers]  WITH CHECK ADD FOREIGN KEY([FieldId])
REFERENCES [dbo].[Fields] ([Id])
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[AddController]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Controllers
CREATE PROCEDURE [dbo].[AddController]
    @Type NVARCHAR(50),
    @FieldId INT
AS
BEGIN
    INSERT INTO Controllers (Type, FieldId)
	OUTPUT INSERTED.Id
    VALUES (@Type, @FieldId);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddField]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddField]
    @Name NVARCHAR(100),
    @Location NVARCHAR(100),
    @UserId INT
AS
BEGIN
    INSERT INTO Fields (Name, Location, UserId)
	OUTPUT INSERTED.Id
    VALUES (@Name, @Location, @UserId);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @Email NVARCHAR(100),
    @RoleId INT
AS
BEGIN
    INSERT INTO Users (Email, RoleId)
	OUTPUT INSERTED.Id
	VALUES (@Email, @RoleId)
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteController]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteController]
    @ControllerId INT
AS
BEGIN
    DELETE FROM Controllers WHERE Id = @ControllerId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteField]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteField]
    @FieldId INT
AS
BEGIN
    DELETE FROM Fields WHERE Id = @FieldId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @UserId INT
AS
BEGIN
    DELETE FROM Users WHERE Id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetControllerById]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetControllerById]
    @ControllerId INT
AS
BEGIN
    SELECT * FROM Controllers WHERE Id = @ControllerId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetControllersByFieldId]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetControllersByFieldId]
    @FieldId INT
AS
BEGIN
    SELECT * FROM Controllers WHERE FieldId = @FieldId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetControllersByUserId]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetControllersByUserId]
    @UserId INT
AS
BEGIN
    SELECT *
    FROM Controllers 
    INNER JOIN Fields ON Controllers.FieldId = Fields.Id
    WHERE Fields.UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFieldById]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetFieldById]
    @FieldId INT
AS
BEGIN
    SELECT * FROM Fields WHERE Id = @FieldId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFieldsByUserId]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFieldsByUserId]
    @UserId INT
AS
BEGIN
    SELECT * FROM Fields WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRoleById]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoleById]
@RoleId INT
AS
BEGIN
    SELECT * FROM Roles WHERE Id=@RoleId;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetRoles]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoles]
AS
BEGIN
    SELECT * FROM Roles;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByEmail]
	@Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users
	WHERE Email=@Email
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
	@UserId INT
AS
BEGIN
    SELECT * FROM Users
	WHERE Id=@UserId
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
AS
BEGIN
    SELECT * FROM Users
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateField]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateField]
    @FieldId INT,
	@Name NVARCHAR(100),
	@Location NVARCHAR(100)
AS
BEGIN
    UPDATE Fields
	SET Name=@Name,Location=@Location
	WHERE Id=@FieldId
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 07/09/2025 00:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@UserId INT,
    @Email NVARCHAR(100)
AS
BEGIN
    UPDATE Users
	SET Email=@Email
	WHERE Id=@UserId
END;

GO
USE [master]
GO
